<div class="flex flex-col items-center">
  <div class="flex items-center space-x-3">
    <div>
      <button class="button" data-testid="time-frame-prev"
        (click)="dec()">
        <span class="material-icons">chevron_left</span>
      </button>
    </div>

    <div class="text-3xl text-primary text-center w-48">
      {{timeFrameDescription()}}
    </div>

    <div>
      <button class="button" data-testid="time-frame-next"
        (click)="inc()" [disabled]="isPresentTimeFrame()">
        <span class="material-icons">chevron_right</span>
      </button>
    </div>
  </div>

  <div class="mt-0.5 text-sm text-primary">
    (date range)
  </div>
</div>